.parce img{
    width: 2rem;
    height: 2rem;
    margin: 3px 2rem;
    max-width: max-content;
    border-radius: 20px;
}
.parce{
    margin: 0 2rem;
}
.Redes-Sociales{
    max-width: max-content;
    border: 2px solid brown;
    border-radius: 20px;
    display: flex;
    margin: 20px auto;
}