@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.presentacion h1{
    text-align: center;
    font-size: 5rem;
}
.presentacion h1 span{
    color: brown;
    font-family: "Dancing Script", cursive;
}
.presentacion p{
    text-align: justify;
    margin: 0 3rem;
}
.presentacion p span{
    font-weight: bold;
}